body,h1,h2,h3,h4,h5,p,ul,ol,li {
    margin: 0;
    padding: 0
}
a,a:hover {
    text-decoration: none
}

img {
    border: 0
}

object:not([data]) {
    display: none
}[hidden] {
    display: none!important
}

.hidden {
    display: none
}

.clearfix {
}

.clearfix:before,.clearfix:after {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.sign-flow .agreement a,.sign-flow .org-tip a {
    color: #25bb9b
}

.sign-flow .agreement {
    margin: 22px 0
}

.sign-flow .agreement label {
    color: #666;
    height: 18px;
    line-height: 18px;
    cursor: pointer
}

.sign-flow .agreement input {
    margin-right: 8px;
    position: relative;
    top: -1px
}

.sign-flow .agreement .error {
    color: #c33;
    margin-top: 3px
}

.sign-flow .org-tip {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #999
}

.sign-flow .view {
    display: none;
    float: right;
    width: 202px;
    margin: 38px 0;
    font-size: 14px
}

.sign-flow .view a:hover {
    text-decoration: none
}

.sign-flow .view.selected {
    display: block
}

.sign-flow .view .signin-switch {
    float: right
}

.sign-flow .view .input-wrapper,.sign-flow .view .button-wrapper,.sign-flow .view .signin-misc-wrapper,.sign-flow .view .weibo-signup-wrapper {
    margin-top: 18px
}

.sign-flow .view .input-wrapper {
    position: relative
}

.sign-flow .view .input-wrapper input {
    margin: 0;
    padding: 8px 10px;
    width: 180px;
    background: #e7f1f8;
    line-height: 19px;
    color: #555;
    border: 1px solid #1672B9;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15)
}

.sign-flow .view .input-wrapper input:focus {
    background: #fff;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 0 10px rgba(255,255,255,.3);
    border: 1px solid #197CC9
}

.sign-flow .view .input-wrapper input.first,.sign-flow .view .input-wrapper input.last {
    width: 70px
}

.sign-flow .view .input-wrapper input.last {
    margin-left: 18px
}

.sign-flow .view .signin-misc-wrapper .remember-me {
    float: left
}

.sign-flow .view .signin-misc-wrapper .remember-me input {
    vertical-align: 1px;
    margin-right: 3px
}

.sign-flow .view .signin-misc-wrapper .unable-login {
    float: right
}

.sign-flow .view .failure {
    display: none;
    margin-top: 18px;
    width: 100%;
    background: rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15)
}

.sign-flow .view .failure ul {
    padding: 10px;
    list-style: none
}

.sign-flow .view .failure li span {
    color: #9ed8ff;
    cursor: pointer
}

.sign-flow .view .failure li a {
    color: #9ed8ff;
    text-decoration: underline
}

.sign-flow .view .failure li a.hover {
    color: #fff
}

.sign-flow .view .failure li+li {
    margin-top: 5px
}

@media (max-width :740px) {
    .sign-flow .view {
        float: none;
        margin: 0 auto;
        width: 248px
    }

    .sign-flow .view .input-wrapper,.sign-flow .view .button-wrapper,.sign-flow .view .signin-misc-wrapper,.sign-flow .view .weibo-signup-wrapper {
        margin-top: 22px
    }

    .sign-flow .view .input-wrapper input {
        width: 226px
    }

    .sign-flow .view .weibo-signup-wrapper .js-bindwechat {
        display: none
    }

    html.ua-wechat .sign-flow .view .weibo-signup-wrapper .js-bindwechat {
        display: inline-block
    }
}

.sign-button {
    padding: 0;
    font-size: 15px;
    line-height: 33px;
    color: #fff;
    text-align: center;
    float: left;
    width: 145px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80c3f7;
    background: -webkit-linear-gradient(top,#80c3f7,#6bbaf8);
    background: linear-gradient(to bottom,#80c3f7,#6bbaf8);
    border: 1px solid #1D80CF;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    outline: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.sign-button + .sign-button {
    margin-left: 10px;
}
.sign-button:active {
    color: #eee;
    border: 1px solid #0971C5;
    background: -webkit-linear-gradient(top,#5dadec,#51a4e6);
    background: linear-gradient(to bottom,#5dadec,#51a4e6);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.1)
}

.sign-button.sign-button-white {
    color: #484848;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    background: #f2f5f7;
    background: -webkit-linear-gradient(top,#f2f5f7,#e0e4e7);
    background: linear-gradient(to bottom,#f2f5f7,#e0e4e7);
    border: 1px solid #3b86c2;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 1px rgba(50,50,50,.05)
}

.sign-button.sign-button-white:active {
    color: #424242;
    background: -webkit-linear-gradient(top,#cddae2,#c9d4dd);
    background: linear-gradient(to bottom,#cddae2,#c9d4dd);
    border: 1px solid #297DC0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.1)
}

.sign-flow {
    text-align: center
}

.sign-flow .title .icon-sign {
    display: none
}

.sign-flow .view {
    float: none;
    margin: auto;
    width: 300px;
    text-align: left
}

.sign-flow .view .group-inputs {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px
}

.sign-flow .view .input-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden
}

.sign-flow .view .input-wrapper+.input-wrapper {
    border-top: 1px solid #e8e8e8
}

.sign-flow .view .input-wrapper input {
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box
}

.sign-flow .view .input-wrapper input,.sign-flow .view .input-wrapper input:focus {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #fff
}

.sign-flow .view .input-wrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #555
}

.sign-flow a {
    color: inherit
}
.sign-flow a:hover {
    color: #25bb9b;
}
.sign-flow .title {
    display: none
}

.sign-flow .sign-button {
    background: #00BC9B;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #fff
}

.sign-flow .sign-button:focus,html.no-touchevents .sign-flow .sign-button:hover {
    background: #00B091
}

.sign-flow label.error {
    position: absolute;
    top: 0;
    right: 8px;
    padding: 0 8px;
    line-height: 48px;
    color: #c33;
    cursor: text;
    background: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 8px);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff 8px);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out
}

.sign-flow label.error.is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

.sign-flow label.error.highlighted {
    color: #ed707c;
    -webkit-transition: none;
    transition: none
}

.sign-flow label.error .switch-to-login {
    color: #787878;
    cursor: pointer
}

.sign-flow label.error a {
    text-decoration: none
}

.sign-flow label.error a,.sign-flow label.error span {
    color: #787878
}

.sign-flow .captcha-module .captcha-container {
    margin: 0
}

.sign-flow .captcha-module .captcha-container span,.sign-flow .captcha-module .captcha-container a {
    display: none
}

.sign-flow .captcha-module .captcha {
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: -19px;
    width: 100px;
    height: 38px
}

.sign-flow .captcha-module label.error {
    right: 105px
}

.sign-flow .weibo-signup-wrapper .name {
    vertical-align: middle;
    margin-right: 20px;
    color: #787878;
    cursor: pointer
}

html.no-touchevents .sign-flow .weibo-signup-wrapper .name:hover {
    color: #555
}

.sign-flow .weibo-signup-wrapper a {
    margin: 0 25px 0 0;
    opacity: .7;
    -ms-filter: "alpha(Opacity=70)";
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

html.no-touchevents .sign-flow .weibo-signup-wrapper a:hover {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)"
}

.sign-flow .sns-buttons {
    display: inline-block;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: opacity .25s ease-out,-webkit-transform .25s ease-out;
    transition: opacity .25s ease-out,-webkit-transform .25s ease-out;
    transition: opacity .25s ease-out,transform .25s ease-out;
    transition: opacity .25s ease-out,transform .25s ease-out,-webkit-transform .25s ease-out;
    visibility: hidden
}

.sign-flow .sns-buttons.is-visible {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.header {
    text-align: center
}

.header .logo {
    margin: 0 auto;
    width: 46px;
    height: 46px;
    background: url(../imagse/log.png) no-repeat;
    background-size: contain
}

@media (max-width :740px) {
    .header .logo {
        width: 96px;
        height: 44.4px
    }
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    .header .logo {
        background-image: url(/static/revved/img/index/logo@2x.e4e2b466.png)
    }
}

.header .logo.org-logo {
    width: 178px;
    height: 41px;
    background-image: url(/static/revved/img/org/signup/logo.57fac9a5.png)
}

@media (max-width :740px) {
    .header .logo.org-logo {
        width: 142.4px;
        height: 32.8px
    }
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    .header .logo.org-logo {
        background-image: url(/static/revved/img/org/signup/logo@2x.ce86aca0.png)
    }
}

.header .description {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1
}

.index-tab-navs {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center
}

.index-tab-navs .navs-slider {
    position: relative;
    display: inline-block
}

.index-tab-navs .navs-slider .navs-slider-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 .8em;
    width: 2.4em;
    height: 2px;
    background: #0f88eb;
    -webkit-transition: left .15s ease-in;
    transition: left .15s ease-in
}

.index-tab-navs .navs-slider[data-active-index="1"] .navs-slider-bar {
    left: 4em
}

.index-tab-navs a {
    float: left;
    width: 4em;
    line-height: 35px;
    opacity: .7;
    -ms-filter: "alpha(Opacity=70)";
    -webkit-transition: opacity .15s,color .15s;
    transition: opacity .15s,color .15s
}

html.no-touchevents .index-tab-navs a:hover {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    text-decoration: none
}

.index-tab-navs a.active {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    color: #0f88eb
}

.QRCode {
    position: relative
}

.QRCode-toggleButton {
    display: block;
    padding: 0;
    width: 100%;
    height: 41px;
    line-height: 39px;
    color: #5fa6e5;
    background: 0 0;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0
}

.QRCode-toggleButton .sprite-index-icon-qrcode {
    vertical-align: -3px
}

.QRCode-toggleButtonText {
    margin-left: 2px
}

.QRCode-card {
    display: none;
    position: absolute;
    left: -5px;
    bottom: 68px;
    width: 310px;
    height: 310px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
    border-radius: 10px
}

.QRCode-card .sprite-index-icon-arrow {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: -14px;
    left: 0
}

.QRCode-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/static/revved/img/index/qr-code.d6565408.png)
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
    .QRCode-image {
        background-image: url(/static/revved/img/index/qr-code@2x.2607d448.png)
    }
}

html,body {
    height: 100%
}

body {
    color: #555;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    background: #f7fafc;
    -webkit-font-smoothing: subpixel-antialiased
}

.index-main {
    min-height: 100%;
    margin-bottom: -42px
}

@media (max-width :740px) {
    .index-main {
        margin-bottom: -102px
    }
}

.index-main-body {
    margin: auto;
    padding: 30px 0 102px;
    width: 300px
}

@media (min-width :741px) {
    .index-main {
        text-align: center;
        white-space: nowrap;
        height: 100%
    }

    .index-main:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em
    }

    .index-main-body {
        padding: 0;
        min-height: 590px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        white-space: normal
    }
}

@media (min-width :741px) and (max-height:600px) {
    .index-main {
        height: auto
    }
}

.footer {
    font-size: 12px;
    line-height: 42px;
    text-align: center
}

@media (max-width :740px) {
    .footer {
        padding-bottom: 60px
    }

    .footer :not(.footer-changeUserType) {
        display: none
    }
}

.footer span,.footer a {
    color: #aebdc9
}

.footer .dot {
    margin: 0 3px
}

#particles {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%
}

#particles canvas {
    display: block
}

.topic-list-for-spider h1 {
    color: #aebdc9;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.8)
}

.topic-list-for-spider .topics {
    padding: 20px 30px;
    margin-top: 10px;
    line-height: 2.5em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(100,100,100,.15);
    overflow: hidden
}

.topic-list-for-spider .topics a {
    float: left;
    margin-right: 10px;
    color: #7491A8
}

.topic-list-for-spider .topics a:hover {
    text-decoration: underline
}

.dialog-org-tip a {
    color: #25bb9b
}

.dialog-org-tip p {
    color: #000;
    margin-bottom: 12px
}

.dialog-org-tip ol,.dialog-org-tip li {
    list-style: none;
    color: #666
}

.Captcha {
    display: none;
    padding: 10px .8em;
    background-color: #fafafa
}

.Captcha label.error {
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
    color: #c33;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    padding: 0;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-transform: translate(-20px,0);
    -ms-transform: translate(-20px,0);
    transform: translate(-20px,0);
    background: 0 0
}

.Captcha label.error.is-visible {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    visibility: visible;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

.Captcha-imageConatiner {
    position: relative;
    width: 200px;
    margin: auto
}

.Captcha-image {
    margin: auto;
    display: block;
    width: 200px;
    height: 44px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Captcha-mark {
    position: absolute
}

.Captcha-operate {
    position: relative;
    color: #555;
    line-height: 16px;
    height: 16px;
    margin-bottom: 6px
}

.Captcha-refresh {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.Captcha-prompt {
    position: absolute;
    font-size: 14px;
    vertical-align: middle;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

.Captcha-prompt.is-hidden {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0)
}

.GaussianBlur {
    background-color: rgba(255,255,255,.96);
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.08)
}

@supports (-webkit-backdrop-filter:blur(18px)) {
    .GaussianBlur {
        -webkit-backdrop-filter: blur(18px);
        background-color: rgba(255,255,255,.68)
    }
}

.AppPromotionBar {
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: none;
    width: 100%;
    height: 60px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}

html.is-AppPromotionBarVisible .AppPromotionBar {
    display: block
}

.AppPromotionBar.is-hidden {
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)"
}

.AppPromotionBar-closeButton {
    float: left;
    width: 21px;
    height: 21px;
    padding: 19px 12px 20px;
    background-image: url(/static/revved/img/app_promotion_bar/close.d37dfef8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px
}

.AppPromotionBar-icon {
    float: left;
    margin: 9.5px 10px 0;
    width: 41px;
    height: 41px;
    background-image: url(/static/revved/img/app_promotion_bar/icon.926a6569.png);
    background-position: center;
    background-size: 41px
}

@media (min-width:500px) {
    .AppPromotionBar {
        height: 90px
    }

    .AppPromotionBar-closeButton {
        width: 30px;
        height: 30px;
        padding: 30px 25px;
        background-image: url(/static/revved/img/app_promotion_bar/close_large.be2e2c35.png);
        background-size: 30px
    }

    .AppPromotionBar-icon {
        margin: 14.5px 15px 0 25px;
        left: 80px;
        width: 61px;
        height: 61px;
        background-image: url(/static/revved/img/app_promotion_bar/icon_large.e71ae6e3.png);
        background-size: 61px
    }

    .AppPromotionBar-title,.AppPromotionBar-describe {
        margin-right: 135px
    }

    .AppPromotionBar-title {
        margin-top: 20px;
        font-size: 27px
    }

    .AppPromotionBar-describe {
        margin-top: 7px;
        font-size: 16px
    }

    .AppPromotionBar-downloadButton {
        right: 25px;
        width: 110px;
        height: 36px;
        padding-top: 19px;
        font-size: 18px;
        border-radius: 6px;
        box-shadow: inset 0 -3px #006acc
    }
}