html,body {
    height: 100%
}

body {
    color: #555;
    font-size: 15px;
    line-height: 1.7;
    background: #f7fafc;
}

body,h1,h2,h3,h4,h5,p,ul,ol,li {
    margin: 0;
    padding: 0
}
a,a:hover {
    text-decoration: none
}

img {
    border: 0
}

object:not([data]) {
    display: none
}[hidden] {
    display: none!important
}

.hidden {
    display: none
}

.clearfix {
}

.clearfix:before,.clearfix:after {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.sign-flow .view {
    display: none;
    float: right;
    width: 202px;
    margin: 38px 0;
    font-size: 14px
}

.sign-flow .view a:hover {
    text-decoration: none
}

.sign-flow .view.selected {
    display: block
}

.sign-flow .view .signin-switch {
    float: right
}

.sign-flow .view .input-wrapper,.sign-flow .view .button-wrapper,.sign-flow .view .signin-misc-wrapper,.sign-flow .view .weibo-signup-wrapper {
    margin-top: 18px
}

.sign-flow .view .input-wrapper {
    position: relative
}

.sign-flow .view .input-wrapper input {
    margin: 0;
    padding: 8px 10px;
    width: 180px;
    background: #e7f1f8;
    line-height: 19px;
    color: #555;
    border: 1px solid #1672B9;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15)
}

.sign-flow .view .input-wrapper input:focus {
    background: #fff;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 0 10px rgba(255,255,255,.3);
    border: 1px solid #197CC9
}

.sign-flow .view .input-wrapper input.first,.sign-flow .view .input-wrapper input.last {
    width: 70px
}

.sign-flow .view .input-wrapper input.last {
    margin-left: 18px
}

.sign-flow .view .signin-misc-wrapper .remember-me {
    float: left
}

.sign-flow .view .signin-misc-wrapper .remember-me input {
    vertical-align: 1px;
    margin-right: 3px
}

.sign-flow .view .signin-misc-wrapper .unable-login {
    float: right
}

.sign-flow .view .failure {
    display: none;
    margin-top: 18px;
    width: 100%;
    background: rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15)
}

.sign-flow .view .failure ul {
    padding: 10px;
    list-style: none
}

.sign-flow .view .failure li span {
    color: #9ed8ff;
    cursor: pointer
}

.sign-flow .view .failure li a {
    color: #9ed8ff;
    text-decoration: underline
}

.sign-flow .view .failure li a.hover {
    color: #fff
}

.sign-flow .view .failure li+li {
    margin-top: 5px
}

@media (max-width :740px) {
    .sign-flow .view {
        float: none;
        margin: 0 auto;
        width: 248px
    }

    .sign-flow .view .input-wrapper,.sign-flow .view .button-wrapper,.sign-flow .view .signin-misc-wrapper,.sign-flow .view .weibo-signup-wrapper {
        margin-top: 22px
    }

    .sign-flow .view .input-wrapper input {
        width: 226px
    }

    .sign-flow .view .weibo-signup-wrapper .js-bindwechat {
        display: none
    }

    html.ua-wechat .sign-flow .view .weibo-signup-wrapper .js-bindwechat {
        display: inline-block
    }
}

.sign-button {
    padding: 0;
    font-size: 15px;
    line-height: 33px;
    color: #fff;
    text-align: center;
    float: left;
    width: 145px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80c3f7;
    background: -webkit-linear-gradient(top,#80c3f7,#6bbaf8);
    background: linear-gradient(to bottom,#80c3f7,#6bbaf8);
    border: 1px solid #1D80CF;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    outline: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.sign-button + .sign-button {
    margin-left: 10px;
}
.sign-button:active {
    color: #eee;
    border: 1px solid #0971C5;
    background: -webkit-linear-gradient(top,#5dadec,#51a4e6);
    background: linear-gradient(to bottom,#5dadec,#51a4e6);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.1)
}

.sign-button.sign-button-white {
    color: #484848;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    background: #f2f5f7;
    background: -webkit-linear-gradient(top,#f2f5f7,#e0e4e7);
    background: linear-gradient(to bottom,#f2f5f7,#e0e4e7);
    border: 1px solid #3b86c2;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 1px rgba(50,50,50,.05)
}

.sign-button.sign-button-white:active {
    color: #424242;
    background: -webkit-linear-gradient(top,#cddae2,#c9d4dd);
    background: linear-gradient(to bottom,#cddae2,#c9d4dd);
    border: 1px solid #297DC0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.1)
}

.sign-flow {
    text-align: center
}

.sign-flow .title .icon-sign {
    display: none
}

.sign-flow .view {
    float: none;
    margin: auto;
    width: 300px;
    text-align: left
}

.sign-flow .view .group-inputs {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px
}

.sign-flow .view .input-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden
}

.sign-flow .view .input-wrapper+.input-wrapper {
    border-top: 1px solid #e8e8e8
}

.sign-flow .view .input-wrapper input {
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box
}

.sign-flow .view .input-wrapper input,.sign-flow .view .input-wrapper input:focus {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #fff
}

.sign-flow .view .input-wrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #555
}

.sign-flow a {
    color: inherit
}
.sign-flow a:hover {
    color: #25bb9b;
}
.sign-flow .title {
    display: none
}

.sign-flow .sign-button {
    background: #00BC9B;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #fff
}

.sign-flow .sign-button:focus,html.no-touchevents .sign-flow .sign-button:hover {
    background: #00B091
}

.header {
    text-align: center
}

.header .logo {
    margin: 0 auto;
    width: 47px;
    height: 47px;
    background: url(../imagse/log.png) no-repeat;
    background-size: contain
}

/*@media (max-width :740px) {*/
    /*.header .logo {*/
        /*width: 96px;*/
        /*height: 44.4px*/
    /*}*/
/*}*/

.main {
    min-height: 100%;
    margin-bottom: -42px
}

/*@media (max-width :740px) {*/
    /*.main {*/
        /*margin-bottom: -102px*/
    /*}*/
/*}*/

.body {
    margin: auto;
    padding: 30px 0 102px;
    width: 300px
}

@media (min-width :741px) {
    .main {
        text-align: center;
        white-space: nowrap;
        height: 100%
    }

    .main:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em
    }

    .body {
        padding: 0;
        min-height: 590px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        white-space: normal
    }
}

@media (min-width :741px) and (max-height:600px) {
    .main {
        height: auto
    }
}